<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shop</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    {{>header}}
    <div class="container">
        <div class="row">
            <div id='user-image' class="col-lg-4 order-lg-1 text-center">
                <img src="{{image}}" class="mx-auto img-fluid img-circle d-block user-image-class" width="200" height="200" alt="avatar">
                <h6 class="mt-2">Upload a different photo</h6>
                <label class="btn btn-primary">
                    <input id="upload-user-image" type="file" style="display:none"
                        onchange="$('#image-name').html(this.files[0].name)">
                    Choose
                </label>
                <span class='label label-info' id="image-name"></span>
            </div>
            <div class="col-lg-8 order-lg-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                        <div class="row">
                            <div class="col-md-6">
                                {{#if firstName}}
                                <h4 class="firstName">{{firstName}} {{lastName}}</h4>
                                {{else}}
                                <h4 class="name">{{name}}</h4>
                                {{/if}}
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td><span class="glyphicon glyphicon-envelope"></span></td>
                                            <td>{{email}}</td>
                                        </tr>
                                        {{#if phone}}
                                        <tr>
                                            <td><span class="glyphicon glyphicon-earphone"></span></td>
                                            <td>{{phone}}</td>
                                        </tr>
                                        {{/if}}
                                        {{#if address}}
                                        <tr>
                                            <td><span class="glyphicon glyphicon-home"></span></td>
                                            <td>{{address.city}}, {{address.street}}</td>
                                        </tr>
                                        {{/if}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="edit">
                        <form role="form">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">First name</label>
                                <div class="col-lg-9">
                                    <input class="form-control profile-firstName" type="text" value="{{firstName}}"
                                        placeholder="First name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                                <div class="col-lg-9">
                                    <input class="form-control profile-lastName" type="text" value="{{lastName}}"
                                        placeholder="Last name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                <div class="col-lg-9">
                                    <input class="form-control profile-email" type="email" value="{{email}}"
                                        placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Phone</label>
                                <div class="col-lg-9">
                                    <input class="form-control profile-phone" type="text" value="{{phone}}"
                                        placeholder="Phone">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Address</label>
                                <div class="col-lg-9">
                                    <input class="form-control profile-street" type="text" value="{{address.street}}"
                                        placeholder="Street">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <input class="form-control profile-city" type="text" value="{{address.city}}"
                                        placeholder="City">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Username</label>
                                <div class="col-lg-9">
                                    <input class="form-control profile-name" type="text" value="{{name}}"
                                        placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">New password</label>
                                <div class="col-lg-9">
                                    <input class="form-control profile-password" type="password" value=""
                                        placeholder="New password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Confirm new password</label>
                                <div class="col-lg-9">
                                    <input class="form-control profile-confirm-password" type="password" value=""
                                        placeholder="Confirm new password">
                                </div>
                            </div>
                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <span class="success-message text-left"><strong>Success!</strong></span>
                            </div>
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <span class="error-message text-left"><strong>Warning!</strong></span>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <input type="reset" class="btn btn-secondary" value="Reset">
                                    <input type="button" class="btn btn-primary user-profile-save" value="Save Changes">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/shop.js"></script>
</body>

</html>