<div class="visible-xs-block xs-option-container">
    <a class="pull-left" data-toggle="collapse" href="#productCatalog">Product catalog<span class="caret"></span></a>
</div>
<div id="productCatalog">
    <ul class="nav nav-tabs">
        {{#ifCond currentCategory '===' '/api/products'}}
            <li role="presentation" class="active"><a href="/api/products">Home</a></li>
            {{else}}
            <li role="presentation"><a href="/api/products">Home</a></li>
        {{/ifCond}}
        {{#each categories}}
            {{#ifCond this.url '===' ../currentCategory}}
            <li role="presentation" class="active"><a href="/api/products/category{{this.url}}">{{this.name}}</a></li>
            {{else}}
            <li role="presentation"><a href="/api/products/category{{this.url}}">{{this.name}}</a></li>
            {{/ifCond}}
        {{/each}}
    </ul>
</div>